
     
<form name = "edit" id ="edit" method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
     <h1>Profile Edit</h1>
     
     {{#infoList}}
    <div class = 'signup__entry'>
        <label class = 'signup__entry__lable' for="firstname">First Name</label>
        <input type="text" id= "firstname" name ="newFirstname" value = {{firstname}}></input>
    </div>
    <div class = 'signup__entry'>
        <lable class = 'signup__entry__lable' for="lastname">Last Name</lable>
        <input type="text" id="lastname" name = "newLastname" value = {{lastname}}></input>
    </div>
   
    <div class = 'signup__entry'> 
        <lable class = 'signup__entry__lable' for="email">Email</lable>
        <input type="text" id="email" name = "newEmail" value = {{email}}></input>
    </div>
    <div class = 'signup__entry'>
        <lable class = 'signup__entry__lable' for="keys">Password</lable>
        <input type="password" id="keys" name = "newKeys" placeholder="********"></input>
    </div>
        
 
<div class = 'signup__entry'>
    <lable class = 'signup__entry__lable' for="newAge">Age</lable>
    <input type="text" id="age" name = "newAge" value = {{age}}></input>
    </div>
 <div class = 'signup__entry'>
    <lable class = 'signup__entry__lable' for="city">City</lable>
    <input type="text" id="city" name = "newCity" value = {{city}}></input>
</div>
<div class = 'signup__entry'>
    <lable class = 'signup__entry__lable' for="url">Homepage</lable>
    <input type="text" id="url" name = "newUrl" value = {{url}}></input>
</div>
 

    <div><button type="submit">Submit Profile Data</button></div>

</form>
  
{{/infoList}}
 

{{!--                      
                    <form method="POST">
    <div class = 'signup__entry'>
        <img src="./app/images/icon-online.svg" alt="firstimg">
        <input type="text" id= "age" name ="age" placeholder="Age"></input>
    </div>
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
<div class = 'signup__entry'> 
       <img src="./app/images/icon-budgeting.svg" alt="emailimg"> 
  <input type="text" id="city" name = "city" placeholder="City"></input>
</div>
   
<div class = 'signup__entry'>  
    <img src="./app/images/icon-onboarding.svg">
 <input type="text" id="url" name = "url" placeholder="Personal url"></input>
 </div>
  --}}

  