those who already signed are
{{#each infoList}}
<div>{{firstname}}, {{lastname}}, {{age}}, {{city}}</div>

{{/each}} 
{{#if city}}
<a href = "/signers/{{city}}"">see who else signed in {{city}}</a>
{{/if}}