Congrats! you are not alone. they have the same opinion as you
{{#each infoList}}
<div>{{firstname}}, {{lastname}}, {{age}}, {{city}}</div>

{{/each}} 
{{#if city}}
<a href = "/petition/signers/{{city}}">see who else signed in {{city}}</a>
{{/if}}